/* Suppression des marges et tout autre espace */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
Definition de la police
*/
body{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/*
Bar de navigation couleur longueur et largeur
*/
nav{
    background-color: rgb(24, 49, 71);
    width: 100%;
    height: 60px;
    position: sticky;
    top: 0px;
}

/*
Positionnement liste
*/
nav ul{
    float: right;
    position: relative;
    right: 10%;
}

/*
Mise en forme item liste
*/
nav ul li{
    list-style-type: none;
    display: inline-block;
}

/*
Mise en forme lien
*/
nav ul li a{
    line-height: 55px;
    text-decoration: none;
    color: aliceblue;
    margin-right: 1em;
}

/*
Mise en forme lien au survole
*/
nav ul li :hover{
    color: #d3056c;
    border-bottom: 2px double #d3056c;
}

/*
Logo
*/
.logo img{
    height: 45px;
    width: 150px;
    float: left;
    padding-left: 40px;
    padding-top: 20px;
}

.logo p{
    color: white;
}

ol li{
    list-style-type: none;
}

/* Texte de bienvenu sur la page accueil*/
.text-bienvenu{
    margin-top: 10px;
    margin-left: 35%;
    margin-bottom: 20px;
}

/*
Page de accueil
*/
.call-to-action-call{
    background-color: #d3056c;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
}

.bloc-droit-apprendre{
    width: 100%;
    height: 155px;
    background-color: rgb(226, 222, 215);
    display: flex;
    padding-top: 25px;
    padding-right: 50px;
}

.bloc-droit-apprendre img{
    margin-left: 70px;
    width: 200px;
}

.apropos{
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Code pour le formulaire news letter*/
    .news-letter{
        width: 100%;
        background-color: darkgray;
        display: flex;
        padding-left: 20px;
    }

    .text-accrocheur{
        padding-left: 30px;
        padding-top: 20px;
    }

    .form-news{
        padding-right: 30px;
        padding-top: 30px;
        padding-bottom: 20px;
    }

    .form-news .txtzone {
        width: 300px;
        height: 40px;
        border-radius: 10px;
    }

/* Code pour le footer*/
footer{
    background-color: rgb(24, 49, 71);
    height: 80px;
}

footer p{
    color: aliceblue;
    margin-left: 50px;
    line-height: 70px;
}